.h1{
    color:rgb(77, 17, 17);
    
}
.body{
    background-color: rgb(78, 78, 105);
    text-align: center;
    color:rgb(6, 6, 83)
}
.h3{
    font-family: verdana;
    color:rgb(133, 21, 21);
}
